.bg-amber-50{ 
    background-color: var(--color-amber-50); 
}

.bg-amber-100{ 
    background-color: var(--color-amber-100); 
}

.bg-amber-200{ 
    background-color: var(--color-amber-200); 
}

.bg-amber-300{ 
    background-color: var(--color-amber-300); 
}

.bg-amber-400{ 
    background-color: var(--color-amber-400); 
}

.bg-amber-500{ 
    background-color: var(--color-amber-500); 
}

.bg-amber-600{ 
    background-color: var(--color-amber-600); 
}

.bg-amber-700{ 
    background-color: var(--color-amber-700); 
}

.bg-amber-800{ 
    background-color: var(--color-amber-800); 
}

.bg-amber-900{ 
    background-color: var(--color-amber-900); 
}

.bg-amber-950{ 
    background-color: var(--color-amber-950); 
}