.text-amber-50{ 
    color: var(--color-amber-50); 
}
.text-amber-100{ 
    color: var(--color-amber-100); 
}
.text-amber-200{ 
    color: var(--color-amber-200); 
}
.text-amber-300{ 
    color: var(--color-amber-300); 
}
.text-amber-400{ 
    color: var(--color-amber-400); 
}
.text-amber-500{ 
    color: var(--color-amber-500); 
}
.text-amber-600{ 
    color: var(--color-amber-600); 
}
.text-amber-700{ 
    color: var(--color-amber-700); 
}
.text-amber-800{ 
    color: var(--color-amber-800); 
}
.text-amber-900{ 
    color: var(--color-amber-900); 
}
.text-amber-950{ 
    color: var(--color-amber-950); 
}