@media only screen and( min-width: 1080px ) {

    #time {

        margin-top: 5rem;

        .grid{
            grid-template-columns: 28% 62%;
            justify-content: space-between;
        }

        #main-1{
            grid-column: 2;
            grid-row: 1;

            h2{
                text-wrap: nowrap;
            }
        }
        #main-2{
            grid-column: 1;
            grid-row: 1;
       }
    }
}