.offset-col-xs-3 {
    margin-left: 25%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-3 {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-3 {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-3 {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-3 {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-3 {
        margin-left: 25%;
    }
}