.offset-offset-colxs-2 {
    margin-left: 16.667%;
}
@media only screen and (min-width: 480px) {
    .offset-offset-colsm-2 {
        margin-left: 16.667%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-colmd-2 {
        margin-left: 16.667%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-collg-2 {
        margin-left: 16.667%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-colxl-2 {
        margin-left: 16.667%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-colxxl-2 {
        margin-left: 16.667%;
    }
}