.offset-col-xs-4 {
    margin-left: 33.333%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-4 {
        margin-left: 33.333%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-4 {
        margin-left: 33.333%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-4 {
        margin-left: 33.333%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-4 {
        margin-left: 33.333%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-4 {
        margin-left: 33.333%;
    }
}