.offset-col-xs-8 {
    margin-left: 66.667%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-8 {
        margin-left: 66.667%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-8 {
        margin-left: 66.667%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-8 {
        margin-left: 66.667%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-8 {
        margin-left: 66.667%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-8 {
        margin-left: 66.667%;
    }
}