.offset-col-xs-5 {
    margin-left: 41.667%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-5 {
        margin-left: 41.667%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-5 {
        margin-left: 41.667%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-5 {
        margin-left: 41.667%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-5 {
        margin-left: 41.667%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-5 {
        margin-left: 41.667%;
    }
}