.offset-col-xs-11 {
    margin-left: 91.667%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-11 {
        margin-left: 91.667%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-11 {
        margin-left: 91.667%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-11 {
        margin-left: 91.667%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-11 {
        margin-left: 91.667%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-11 {
        margin-left: 91.667%;
    }
}