.offset-col-xs-9 {
    margin-left: 75%;
}
@media only screen and (min-width: 480px) {
    .offset-col-sm-9 {
        margin-left: 75%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-col-md-9 {
        margin-left: 75%;
    }
}
@media only screen and (min-width: 1024px) {
    .offset-col-lg-9 {
        margin-left: 75%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-col-xl-9 {
        margin-left: 75%;
    }
}
@media only screen and (min-width: 1536px) {
    .offset-col-xxl-9 {
        margin-left: 75%;
    }
}