@import "var.scss";
.bg-yellow-50{ 
    background-color: var(--color-yellow-50); 
}

.bg-yellow-100{ 
    background-color: var(--color-yellow-100); 
}

.bg-yellow-200{ 
    background-color: var(--color-yellow-200); 
}

.bg-yellow-300{ 
    background-color: var(--color-yellow-300); 
}

.bg-yellow-400{ 
    background-color: var(--color-yellow-400); 
}

.bg-yellow-500{ 
    background-color: var(--color-yellow-500); 
}

.bg-yellow-600{ 
    background-color: var(--color-yellow-600); 
}

.bg-yellow-700{ 
    background-color: var(--color-yellow-700); 
}

.bg-yellow-800{ 
    background-color: var(--color-yellow-800); 
}

.bg-yellow-900{ 
    background-color: var(--color-yellow-900); 
}

.bg-yellow-950{ 
    background-color: var(--color-yellow-950); 
}