.text-yellow-50{ 
    color: var(--color-yellow-50); 
}
.text-yellow-100{ 
    color: var(--color-yellow-100); 
}
.text-yellow-200{ 
    color: var(--color-yellow-200); 
}
.text-yellow-300{ 
    color: var(--color-yellow-300); 
}
.text-yellow-400{ 
    color: var(--color-yellow-400); 
}
.text-yellow-500{ 
    color: var(--color-yellow-500); 
}
.text-yellow-600{ 
    color: var(--color-yellow-600); 
}
.text-yellow-700{ 
    color: var(--color-yellow-700); 
}
.text-yellow-800{ 
    color: var(--color-yellow-800); 
}
.text-yellow-900{ 
    color: var(--color-yellow-900); 
}
.text-yellow-950{ 
    color: var(--color-yellow-950); 
}