:root {
    --color-yellow-50  : oklch(98.7% 0.026 102.212);
    --color-yellow-100 : oklch(97.3% 0.071 103.193);
    --color-yellow-200 : oklch(94.5% 0.129 101.54);
    --color-yellow-300 : oklch(90.5% 0.182 98.111);
    --color-yellow-400 : oklch(85.2% 0.199 91.936);
    --color-yellow-500 : oklch(79.5% 0.184 86.047);
    --color-yellow-600 : oklch(68.1% 0.162 75.834);
    --color-yellow-700 : oklch(55.4% 0.135 66.442);
    --color-yellow-800 : oklch(47.6% 0.114 61.907);
    --color-yellow-900 : oklch(42.1% 0.095 57.708);
    --color-yellow-950 : oklch(28.6% 0.066 53.813);
}