.bg-teal-50{ 
    background-color: var(--color-teal-50); 
}

.bg-teal-100{ 
    background-color: var(--color-teal-100); 
}

.bg-teal-200{ 
    background-color: var(--color-teal-200); 
}

.bg-teal-300{ 
    background-color: var(--color-teal-300); 
}

.bg-teal-400{ 
    background-color: var(--color-teal-400); 
}

.bg-teal-500{ 
    background-color: var(--color-teal-500); 
}

.bg-teal-600{ 
    background-color: var(--color-teal-600); 
}

.bg-teal-700{ 
    background-color: var(--color-teal-700); 
}

.bg-teal-800{ 
    background-color: var(--color-teal-800); 
}

.bg-teal-900{ 
    background-color: var(--color-teal-900); 
}

.bg-teal-950{ 
    background-color: var(--color-teal-950); 
}