@font-face {
    font-family: "Italianno";
    font-display: swap;
    font-weight: 400;
    src: url('/assets/typho/italianno/normal/400.ttf') format('truetype');
}

.font-type-italianno {
	font-family: "Italianno", cursive;
	font-style: normal;
}