#format-google-sheet {
    overflow: hidden;

    #covers.hide, #player.hide{

        display: none;
    }

     #player.invi{
        display: none;
     }

    .overlay{
        position: relative;

        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            position: relative;
            aspect-ratio: 16 / 9;
            object-position: center;
        }

        .action{
            position: absolute;
        }
    }

    #player{
        width: 100%;
        overflow: hidden;
        position: relative;        
        padding-top: 120vh;

        iframe{
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 120vh;
            position: absolute;
        }
    }

    .inform{
        text-wrap: nowrap;

        h1{
            margin-bottom: 1.5rem;
        }

        .plat{
            margin-left: 1rem;
        }


        .ml-a{
            margin-left: auto;
        }


        .icon{
            padding: .05rem;
        }
    }

    .action {
        .icon{
            min-width:  3.85rem;
            min-height: 3.1rem;
            background-color: black;
        }

        svg {
            min-width:  1.75rem;
            min-height: 1.75rem;
        }
    } 

    .overlay:hover .action .icon{
        z-index: 15;
        color: white;
        transition: 150ms;
        border: 1px solid transparent;
        background-color: rgb(235, 37, 37);
    }
}


@media only screen and (min-width: 480px) {

    #format-google-sheet{
        .action {
            .icon{
                min-width:  5rem;
                min-height: 4rem;
            }
            svg {
                min-width:  2rem;
                min-height: 2rem;
            }
        }
    }
}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

    #format-google-sheet{
        .action {
            .icon{
                min-width:  5rem;
                min-height: 4rem;
            }
            svg {
                min-width:  2rem;
                min-height: 2rem;
            }
        }
    }
}


@media only screen and (min-width: 1536px) {

}