.text-cyan-50{ 
    color: var(--color-cyan-50); 
}
.text-cyan-100{ 
    color: var(--color-cyan-100); 
}
.text-cyan-200{ 
    color: var(--color-cyan-200); 
}
.text-cyan-300{ 
    color: var(--color-cyan-300); 
}
.text-cyan-400{ 
    color: var(--color-cyan-400); 
}
.text-cyan-500{ 
    color: var(--color-cyan-500); 
}
.text-cyan-600{ 
    color: var(--color-cyan-600); 
}
.text-cyan-700{ 
    color: var(--color-cyan-700); 
}
.text-cyan-800{ 
    color: var(--color-cyan-800); 
}
.text-cyan-900{ 
    color: var(--color-cyan-900); 
}
.text-cyan-950{ 
    color: var(--color-cyan-950); 
}