.text-indigo-50{ 
    color: var(--color-indigo-50); 
}
.text-indigo-100{ 
    color: var(--color-indigo-100); 
}
.text-indigo-200{ 
    color: var(--color-indigo-200); 
}
.text-indigo-300{ 
    color: var(--color-indigo-300); 
}
.text-indigo-400{ 
    color: var(--color-indigo-400); 
}
.text-indigo-500{ 
    color: var(--color-indigo-500); 
}
.text-indigo-600{ 
    color: var(--color-indigo-600); 
}
.text-indigo-700{ 
    color: var(--color-indigo-700); 
}
.text-indigo-800{ 
    color: var(--color-indigo-800); 
}
.text-indigo-900{ 
    color: var(--color-indigo-900); 
}
.text-indigo-950{ 
    color: var(--color-indigo-950); 
}