.text-neutral-50{ 
    color: var(--color-neutral-50); 
}
.text-neutral-100{ 
    color: var(--color-neutral-100); 
}
.text-neutral-200{ 
    color: var(--color-neutral-200); 
}
.text-neutral-300{ 
    color: var(--color-neutral-300); 
}
.text-neutral-400{ 
    color: var(--color-neutral-400); 
}
.text-neutral-500{ 
    color: var(--color-neutral-500); 
}
.text-neutral-600{ 
    color: var(--color-neutral-600); 
}
.text-neutral-700{ 
    color: var(--color-neutral-700); 
}
.text-neutral-800{ 
    color: var(--color-neutral-800); 
}
.text-neutral-900{ 
    color: var(--color-neutral-900); 
}
.text-neutral-950{ 
    color: var(--color-neutral-950); 
}