:root {
    --color-pink-50  : oklch(97.1% 0.014 343.198);
    --color-pink-100 : oklch(94.8% 0.028 342.258);
    --color-pink-200 : oklch(89.9% 0.061 343.231);
    --color-pink-300 : oklch(82.3% 0.12 346.018);
    --color-pink-400 : oklch(71.8% 0.202 349.761);
    --color-pink-500 : oklch(65.6% 0.241 354.308);
    --color-pink-600 : oklch(59.2% 0.249 0.584);
    --color-pink-700 : oklch(52.5% 0.223 3.958);
    --color-pink-800 : oklch(45.9% 0.187 3.815);
    --color-pink-900 : oklch(40.8% 0.153 2.432);
    --color-pink-950 : oklch(28.4% 0.109 3.907);
}