.text-zinc-50{ 
    color: var(--color-zinc-50); 
}
.text-zinc-100{ 
    color: var(--color-zinc-100); 
}
.text-zinc-200{ 
    color: var(--color-zinc-200); 
}
.text-zinc-300{ 
    color: var(--color-zinc-300); 
}
.text-zinc-400{ 
    color: var(--color-zinc-400); 
}
.text-zinc-500{ 
    color: var(--color-zinc-500); 
}
.text-zinc-600{ 
    color: var(--color-zinc-600); 
}
.text-zinc-700{ 
    color: var(--color-zinc-700); 
}
.text-zinc-800{ 
    color: var(--color-zinc-800); 
}
.text-zinc-900{ 
    color: var(--color-zinc-900); 
}
.text-zinc-950{ 
    color: var(--color-zinc-950); 
}