.bg-rose-50{ 
    background-color: var(--color-rose-50); 
}

.bg-rose-100{ 
    background-color: var(--color-rose-100); 
}

.bg-rose-200{ 
    background-color: var(--color-rose-200); 
}

.bg-rose-300{ 
    background-color: var(--color-rose-300); 
}

.bg-rose-400{ 
    background-color: var(--color-rose-400); 
}

.bg-rose-500{ 
    background-color: var(--color-rose-500); 
}

.bg-rose-600{ 
    background-color: var(--color-rose-600); 
}

.bg-rose-700{ 
    background-color: var(--color-rose-700); 
}

.bg-rose-800{ 
    background-color: var(--color-rose-800); 
}

.bg-rose-900{ 
    background-color: var(--color-rose-900); 
}

.bg-rose-950{ 
    background-color: var(--color-rose-950); 
}