.text-rose-50{ 
    color: var(--color-rose-50); 
}
.text-rose-100{ 
    color: var(--color-rose-100); 
}
.text-rose-200{ 
    color: var(--color-rose-200); 
}
.text-rose-300{ 
    color: var(--color-rose-300); 
}
.text-rose-400{ 
    color: var(--color-rose-400); 
}
.text-rose-500{ 
    color: var(--color-rose-500); 
}
.text-rose-600{ 
    color: var(--color-rose-600); 
}
.text-rose-700{ 
    color: var(--color-rose-700); 
}
.text-rose-800{ 
    color: var(--color-rose-800); 
}
.text-rose-900{ 
    color: var(--color-rose-900); 
}
.text-rose-950{ 
    color: var(--color-rose-950); 
}