.bg-violet-50{ 
    background-color: var(--color-violet-50); 
}

.bg-violet-100{ 
    background-color: var(--color-violet-100); 
}

.bg-violet-200{ 
    background-color: var(--color-violet-200); 
}

.bg-violet-300{ 
    background-color: var(--color-violet-300); 
}

.bg-violet-400{ 
    background-color: var(--color-violet-400); 
}

.bg-violet-500{ 
    background-color: var(--color-violet-500); 
}

.bg-violet-600{ 
    background-color: var(--color-violet-600); 
}

.bg-violet-700{ 
    background-color: var(--color-violet-700); 
}

.bg-violet-800{ 
    background-color: var(--color-violet-800); 
}

.bg-violet-900{ 
    background-color: var(--color-violet-900); 
}

.bg-violet-950{ 
    background-color: var(--color-violet-950); 
}