html{
    scroll-behavior: smooth;
}

.button{
    display: inline-flex;
    align-items: center;
    background-color: var(--button-01);
    padding: 7px 18px;
    color: #fff;
    border-radius: 7px;
    font-size: 90%;

    svg{
        height: 22px;
        width: 22px;
        margin-right: 10px;
    }
}

.button:hover{
    color: #fff;
}

a, .button.outline:hover{
    color: var(--link-02-based);
}

.button.outline{
    background-color: transparent;
    color: var(--link-02-based);
    border: 1px solid var(--link-02-based);
}


/** LISTING **/
ul {
	margin-block-start: 0;
    padding-inline-start: 0;
}

li {
	line-height: 1.3;
}


/**  NAVIGATION **/

nav ul li,
nav ul li{
	list-style: none;
}

/** OVERFLOW **/

.overflow-hidden{
    overflow: hidden;
}

/**  IMAGES **/
.fluid, .fluid img{
    width: 100%;
    height: 100%;
}

picture, img{
    display: block;
	object-fit: cover;
	overflow: hidden;
}

figure{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 3rem;
}

figcaption{
    text-align: center;
    font-style: italic;
}


/** RATION **/
.ratio-square{
	aspect-ratio: 1 / 1;
}

.ratio-wide{
	aspect-ratio: 16 / 9;
}

.ratio-main{
	aspect-ratio: 4 / 3;
}

.ratio-auto{
	aspect-ratio: auto;
}

// IFRAME
.full-page{
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
} 

.object-contain{
	object-fit: contain;
}

.object-cover{
	object-fit: cover;
}

.object-fill{
	object-fit: fill;
}

.object-scale-down{
	object-fit: scale-down;
}


.pagination{
    display: flex;
    list-style: none;
    margin-top: 4rem;
    justify-content: center;
    li a{
        display: none;
        height: 2rem;
        width: 2rem;
        align-items: center;
        justify-content: center;
        margin: 0 7px;
    }

    li.active a{
        font-size: 1rem;
        display: flex !important;
        margin: 0 2rem;
    }


    li.active a::before{
        content: "Page";
        margin-right: 5px;
    }


    li a[aria-label="First"],
    li a[aria-label="Last"],
    li a[aria-label="Next"],
    li a[aria-label="Previous"] {
        display: flex;
        border: 1px solid var(--line-01);
        border-radius: 7px;
    }
}



/** CODES **/
pre{
    border-radius: 9px;
    padding: 1rem 1.5rem;

    span{
        margin-bottom: 2px;
    }  
}

.highlight, pre{
    margin: 2rem 0;
}


code{
    font-size: .935rem;
    padding: 3px 7px;
    border-radius: 4px; 
}


/** AVATAR **/
.avatar-24{
    width: 24px;
    height: 24px;
}

.avatar-28{
    width: 28px;
    height: 28px;
}

.avatar-42{
    width: 42px;
    height: 42px;
}

.avatar-48{
    width: 48px;
    height: 48px;
}

.avatar-64{
    width: 64px;
    height: 64px;
}