.wrap {
    max-width: 85%;
    margin: auto;
	display: block;
}
@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768px) {

	.wrap {
        max-width: 90%;
    }
}
@media only screen and (min-width: 1024px) {
    .wrap {
        max-width: 960px;
    }
}
@media only screen and (min-width: 1280px) {
    .wrap {
        max-width: 1220px;
    }
}
@media only screen and (min-width: 1360px) {
    .wrap {
		max-width: 1280px;
    }
}
@media only screen and (min-width: 1536px) {

}


.flex{
	display: flex;
}


.rows, .leaf, .grid{
	display: grid;
	grid-template-columns: 100%;
	justify-content: space-between;
}


.flex-inline{
	display: inline-flex;
}

.center-a{
	align-items: center;
	justify-content: center;
}

.center-x{
 	align-items: center;
}

.center-y{
 	justify-content: center;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.clear-both{
	clear: both;
}


@media only screen and (max-width: 1024px) {
	.desktop{
		display: none !important;
	}
}

@media only screen and (max-width: 768px) {
	.tablet{
		display: none;
	}
}

@media only screen and (min-width: 1024px) {
	.mobile{
		display: none;
	}
}


