#format-article {

    .author{
        display: none;
    }

    .avatar{
        img{
            margin:0;
        }
    }

    .icon{
        padding: .35rem;
    }

    h1.title{
        font-size: 2rem;
    }

    h1, h2, h3, h4{
        font-weight: bold;
    }


    h1{
        font-size: 1.55rem;
    }


    h2{
        font-size: 1.4rem;
    }


    h3{
        font-size: 1.3rem;
    }


    h4{
        font-size: 1.2rem;
    }


    h5{
        font-size: 1.1rem;
    }


    h6{
        font-size: 1.09rem;
    }


    p{
        margin: 1rem 0;
        font-size: 1.09rem;
        line-height: 1.6;
    }


    em{
        font-size: bold;
        font-style: italic;
    }


    strong{
        font-size: bold;
    }


    ol{
        margin: 1rem 0;
        padding-inline-start: 30px;
    }


    li{
        margin: .5rem 0;
    }


    ul{
        margin-block-start: 1rem;
        padding-inline-start: 30px;
    }


    a{
        color: var(--link-03-based);
        text-decoration: underline;
    }


    img{
        width: auto;
        height: auto;
        max-width: 100%;
    }

    figcaption{
        margin-top: 1.5rem;
    }

    figure{
        margin: 3rem 0 2rem 0;
    }


    h1,h2,h3,h4,h5,h6{
        margin: 2rem 0;
    }

    pre{
        overflow-x: scroll;
    }

    
    .footnotes{
        margin: 3rem 0;

        p{
            font-size: .95rem;
            margin: 1rem 0;
            padding-left: .5rem;
        }

        hr{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

 
    .footnotes::before{
        content: "Reference";
        width: 100%;
        font-weight: bold;
        font-size: 1.25rem;
    }
}


@media only screen and (min-width: 480px) {

    #format-article {


        ol{
            padding-inline-start: 40px;
            margin: 1.5rem 0;
        }

        li{
            margin: .75rem 0;
        }

        figure{
            margin: 3rem 0;
        }

        p{
            margin: 1.5rem 0;
            font-size: 1.1rem;
        }

        ul{
            margin-block-start: 1rem;
            padding-inline-start: 40px;
        }

        h1,h2,h3,h4,h5,h6{
            margin: 2.5rem 0;
        }
        
        .footnotes{
            p{
                font-size: 1rem;
            }
        }

        .footnotes::before{
            font-size: 1.3rem;
        }
    }
}


@media only screen and (min-width: 768px) {

    #format-article {

        h1.title{
            font-size: 2.35rem;
        }

        .author{
            display: block;
        }

        h1,h2,h3,h4,h5,h6{
            margin: 2.75rem 0;
        }

        p{
            margin: 1.7rem 0;
            font-size: 1.15rem;
            line-height: 1.65;
        }
    }
}


@media only screen and (min-width: 1024px) {
    
    #format-article {

       

        h1,h2,h3,h4,h5,h6{
            margin: 2.95rem 0;
        }

        h1{
            font-size: 1.7rem;
        }

        h2{
            font-size: 1.5rem;
        }

        h3{
            font-size: 1.4rem;
        }

        h4{
            font-size: 1.3rem;
        }

        h5{
            font-size: 1.2rem;
        }

        h6{
            font-size: 1.25rem;
        }
    }
}


@media only screen and (min-width: 1280px) {
    
    #format-article {

        h1.title{
            font-size: 2.5rem;
        }

        h1{
            font-size: 1.8rem;
        }

        h2{
            font-size: 1.6rem;
        }
    }
}


@media only screen and (min-width: 1536px) {
}