.bg-fuchsia-50{ 
    background-color: var(--color-fuchsia-50); 
}

.bg-fuchsia-100{ 
    background-color: var(--color-fuchsia-100); 
}

.bg-fuchsia-200{ 
    background-color: var(--color-fuchsia-200); 
}

.bg-fuchsia-300{ 
    background-color: var(--color-fuchsia-300); 
}

.bg-fuchsia-400{ 
    background-color: var(--color-fuchsia-400); 
}

.bg-fuchsia-500{ 
    background-color: var(--color-fuchsia-500); 
}

.bg-fuchsia-600{ 
    background-color: var(--color-fuchsia-600); 
}

.bg-fuchsia-700{ 
    background-color: var(--color-fuchsia-700); 
}

.bg-fuchsia-800{ 
    background-color: var(--color-fuchsia-800); 
}

.bg-fuchsia-900{ 
    background-color: var(--color-fuchsia-900); 
}

.bg-fuchsia-950{ 
    background-color: var(--color-fuchsia-950); 
}