.text-fuchsia-50{ 
    color: var(--color-fuchsia-50); 
}
.text-fuchsia-100{ 
    color: var(--color-fuchsia-100); 
}
.text-fuchsia-200{ 
    color: var(--color-fuchsia-200); 
}
.text-fuchsia-300{ 
    color: var(--color-fuchsia-300); 
}
.text-fuchsia-400{ 
    color: var(--color-fuchsia-400); 
}
.text-fuchsia-500{ 
    color: var(--color-fuchsia-500); 
}
.text-fuchsia-600{ 
    color: var(--color-fuchsia-600); 
}
.text-fuchsia-700{ 
    color: var(--color-fuchsia-700); 
}
.text-fuchsia-800{ 
    color: var(--color-fuchsia-800); 
}
.text-fuchsia-900{ 
    color: var(--color-fuchsia-900); 
}
.text-fuchsia-950{ 
    color: var(--color-fuchsia-950); 
}