.ml-05 {
    margin-left: 0.25rem;
}

.mt-05 {
   margin-top: 0.25rem;
}

.mb-05 {
    margin-bottom: 0.25rem;
}

.mr-05 {
    margin-right: 0.25rem;
}

.mx-05{
    margin-left: 0.25rem;
    margin-right:  0.25rem;
}