.ml-10 {
    margin-left: 0.625rem;
}

.mt-10 {
   margin-top: 0.625rem;
}

.mb-10 {
    margin-bottom: 0.625rem;
}

.mr-10 {
    margin-right: 0.625rem;
}

.mx-10{
    padding-left:  0.625rem;
    padding-right:  0.625rem;
}