.ml-auto{
	padding-left: auto;
}

.mr-auto{
	padding-right: auto;
}

.mx-auto{
	padding-right: auto;
	padding-left: auto;
}

.ml-00 {
    padding-left: 0;
}

.mt-00 {
    padding-top: 0;
}

.mb-00 {
    padding-bottom: 0;
}

.mr-00 {
    padding-right: 0;
}

.mx-00{
    padding-left: 0;
    padding-right: 0;
}

.my-00{
    padding-top: 0;
    padding-bottom: 0;
}
