.bg-emerald-50{ 
    background-color: var(--color-emerald-50); 
}

.bg-emerald-100{ 
    background-color: var(--color-emerald-100); 
}

.bg-emerald-200{ 
    background-color: var(--color-emerald-200); 
}

.bg-emerald-300{ 
    background-color: var(--color-emerald-300); 
}

.bg-emerald-400{ 
    background-color: var(--color-emerald-400); 
}

.bg-emerald-500{ 
    background-color: var(--color-emerald-500); 
}

.bg-emerald-600{ 
    background-color: var(--color-emerald-600); 
}

.bg-emerald-700{ 
    background-color: var(--color-emerald-700); 
}

.bg-emerald-800{ 
    background-color: var(--color-emerald-800); 
}

.bg-emerald-900{ 
    background-color: var(--color-emerald-900); 
}

.bg-emerald-950{ 
    background-color: var(--color-emerald-950); 
}