.text-emerald-50{ 
    color: var(--color-emerald-50); 
}
.text-emerald-100{ 
    color: var(--color-emerald-100); 
}
.text-emerald-200{ 
    color: var(--color-emerald-200); 
}
.text-emerald-300{ 
    color: var(--color-emerald-300); 
}
.text-emerald-400{ 
    color: var(--color-emerald-400); 
}
.text-emerald-500{ 
    color: var(--color-emerald-500); 
}
.text-emerald-600{ 
    color: var(--color-emerald-600); 
}
.text-emerald-700{ 
    color: var(--color-emerald-700); 
}
.text-emerald-800{ 
    color: var(--color-emerald-800); 
}
.text-emerald-900{ 
    color: var(--color-emerald-900); 
}
.text-emerald-950{ 
    color: var(--color-emerald-950); 
}