@font-face {
    font-family: "My Soul";
    font-display: swap;
	font-weight: 400;
    src: url('/assets/fonts/sedan/Sedan-Regular.ttf') format('truetype');
}


.font-type-sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
