.colo{

    .card{
        padding: 1.95rem 0;
        grid-template-columns: calc( 100% - 1rem );
        grid-gap: 2rem;
        .thumb{
            display: none;
        }
    }

    .list-1{
        .card.list{
            .thumb{
                display: block;
            }
        }
    }

    .item{
        border-bottom: 1px solid var(--line-01);
    }

    .item:nth-last-child(1){
        border-bottom: 0px;
    }
} 


@media only screen and( min-width: 1080px ) {

}