#more{
    background-color: var(--background-02);

    .wrap{
        padding: 5rem 0 7rem 0;
        max-width: 100%;
    }

    .head{
        margin-bottom: 3.5rem;
    }

    .leaf{
        display: grid;
        justify-content: space-between;        
    }
}

@media only screen and (min-width: 480px) {

}


@media only screen and (min-width: 768px) {

    #more{
       
        .wrap{
            max-width: 680px;
        }

        .leaf{
            grid-template-columns: repeat(2, calc( 50% - 1rem ));
            grid-gap: 4rem 1rem;
        }
    }
}


@media only screen and (min-width: 1024px) {

}


@media only screen and (min-width: 1280px) {

}


@media only screen and (min-width: 1536px) {

}