{{- $thum := "stories/module/item/main/part/thumb-square.html" -}}
{{- $list := partial "lib/stories/query/look-page-each-sect.html" . -}}
{{- $icon := slice "bookmark" "heart" "share-2" -}}

<div id="list">
    <div class="head mb-20">
        <div class="flex center-x">
            <h1 class="text-2xl mb-30 mt-00">{{ .Title }} Article</h1>
            <h1 class="text-md mb-30 mt-00 ml-a">Page {{ ( .Paginate ($list) 10 ).PageNumber }}</h1>
        </div>
    </div>
    <div class="leaf">
        {{- range ( .Paginate $list ).Pages -}}
        <div class="card grid rounded-lg border-all">
            <div class="action flex center-x">
                <div class="author flex center-x">
                    <div class="rounded-full overflow-hidden">{{- partial "parted/avatar/user-32.html" . -}}</div>
                    <h2 class="text-sm font-bold mt-00 mb-00 ml-20 mr-20">{{- .Page.Params.Metadata.Author -}} </h2>
                </div>
                <div class="flex center-x ml-a">
                    {{- range $icon -}}<div class="icon sm">{{ partial "lib/icon" . }}</div>{{- end -}}
                </div>
            </div>
            <div class="linker">
                <a class="thumb" href="{{ .RelPermalink }}">{{- partial $thum . -}}</a>
                <a href="{{ .RelPermalink }}" class="meta mb-05">
                    <h2 class="title text-lg font-bold mb-10 mt-00">{{ .Title }}</h2>
                    <p class="descs text-sm mb-00 mt-00">{{ .Page.Params.Description }}</p>
                </a>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="paginate">
        {{- partial "pagination.html" . -}}
    </div>
</div>


